:root{
    --main-color: blue;
}

body{
    background:  linear-gradient( 45deg, rgb(24, 139, 233),  rgb(13, 86, 146) );
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title, .subtitle, .post_title, p, li{
    color: #251e63;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    padding-left: 2%;
}

.My_image{
    max-width: 130px;
    margin: 0;
}

.My_image img{
    width: 125px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #1d1d1d;
}

.post_images img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px 20px;
    margin-right: 10px;
}

.post{
    border: 3px solid #1d1d1d;
    border-radius: 20px;
    margin-right: 40%;
}

p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

a {
    text-decoration: underline;
    color: #1d1d1d;
}

.menu{
    background-color: rgb(37, 37, 39);
    margin-bottom: 20px;
}

.menu ul {
    max-width: 950px;
    list-style: none;
    padding: 0;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

.menu ul li a:hover {
    background-color: rgb(24, 139, 233);
}

.container {
    display: block;
    background-color: #FFF;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.cabecalho {
    margin: 0;
    width: 150px;
}

